/*------------------------------------*\
  #Typography
\*------------------------------------*/

/**
 * Fonts.
 */

@font-face {
  font-family: "Faro";
  src: url("/fonts/faro-lightlucky.woff2") format("woff2"),
       url("/fonts/faro-lightlucky.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Faro";
  src: url("/fonts/faro-regularlucky.woff2") format("woff2"),
       url("/fonts/faro-regularlucky.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plaak";
  src: url("/fonts/plaak-bold.woff2") format("woff2"),
       url("/fonts/plaak-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/**
 * Headings.
 */

h1, .t-h1,
h2, .t-h2,
h3, .t-h3,
h4, .t-h4,
h5, .t-h5,
h6, .t-h6 {
  text-transform: uppercase;
}

h1, .t-h1 {
  font-family: var(--font-slab);
  font-size: 60px;
  line-height: calc(153/180);
  letter-spacing: .005em;

  @media(--xs) {
    font-size: 180px;
  }
}

h2, .t-h2 {
  font-family: var(--font-slab);
  font-size: 24px;
  line-height: calc(153/180);
  letter-spacing: .005em;

  @media(--xs) {
    font-size: 70px;
  }
}

h3, .t-h3 {
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: calc(36/30);
  letter-spacing: .15em;
  font-weight: normal;

  @media(--xs) {
    font-size: 30px;
  }
}

h4, .t-h4 {
  font-family: var(--font-sans);
  font-size: 13px;
  line-height: calc(20/15);
  font-weight: normal;
  letter-spacing: .15em;

  @media(--xs) {
    font-size: 15px;
  }
}

h5, .t-h5 {
}

h6, .t-h6 {
}

/**
 * Paragraphs.
 */

p,
address,
.t-para {
  font-size: 13px;
  line-height: calc(26/20);
  letter-spacing: .02em;
  font-weight: 300;
  font-style: normal;

  @media(--xs) {
    font-size: 20px;
  }

  & a {
    background-image: url(/imgs/sipple-underline.svg);
    background-position: 0 100%;
    background-size: .8em .2em;
    background-repeat: repeat-x;
    animation: shakeDatAss 5s linear infinite;
    animation-play-state: paused;
    padding-bottom: 3px;
    transition: color var(--trans);

    &:hover {
      color: var(--blue-light);
      animation-play-state: running;
    }
  }
}

@keyframes shakeDatAss {
  to {
    background-position: 100% 100%;
  }
}

.t-lede {
  font-family: var(--font-sans);
  font-size: 20px;
  line-height: calc(36/30);
  letter-spacing: .02em;
  font-weight: 300;
  text-transform: none;

  @media(--xs) {
    font-size: 30px;
  }
}

.t-small {
  font-family: var(--font-sans);
  font-size: 13px;
  line-height: calc(20/15);
  letter-spacing: .02em;
  font-weight: 300;
  font-style: normal;

  @media(--xs) {
    font-size: 15px;
  }
}


/**
 * Prose.
 */

hr {
  border: 0;
  border-bottom: thin solid tomato;
  margin: var(--bsu-lg) 0;
}

address,
em {
  font-style: italic;
}

small {
  font-size: 70%;
}

strong,
b {
  font-weight: bold;
}

i {
  font-style: normal;
}

sup {
  top: -.4em;
  font-size: 60%;
}

sub {
  bottom: 0;
  font-size: 60%;
}

/**
 * Quote styling.
 */

blockquote {
  quotes: "\2018""\2019";
  & p {

    &:first-of-type:before {
      content: open-quote;
    }
    &:last-of-type:after {
      content: close-quote;
    }
  }
}

q {
  font-style: italic;
  quotes: "‘" "’";

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}