/*------------------------------------*\
  #Buttons
\*------------------------------------*/

/**
 * Button.
 */

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 200px;
  font-size: 10px;
  line-height: calc(20/15);
  font-weight: normal;
  letter-spacing: .15em;
  text-indent: .15em;
  padding: 1.3em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  color: var(--grey1);
  background-color: var(--white);
  border: thin solid var(--blue);
  transition: 
    color var(--trans),
    background-color var(--trans),
    border var(--trans);

  @media(--sm) {
    font-size: 15px;
    max-width: 300px;
  }

  &:matches(:focus, :hover) {
    color: var(--white);
    background-color: var(--blue);
  }

  &:active {
    background-color: color(var(--blue) shade(15%) );
  }

  &--white {
    border-color: transparent;

    &:matches(:focus, :hover) {
      border-color: transparent;
      background-color: var(--turquoise);
    }

    &:active {
      background-color: color(var(--turquoise) shade(15%) );
    }
    
  }

  &--ghost {
    color: var(--white);
    background-color: transparent;
    border-color: var(--white);

    &:matches(:focus, :hover) {
      color: var(--blue);
      background-color: var(--white);
    }

    &:active {
      background-color: color(var(--white) a(80%));
      border-color: color(var(--white) a(80%));
    }
    
  }

  &:disabled,
  &:disabled:hover {
    cursor: default;
    opacity: .2;
    pointer-events: none;
  }
}
