/*------------------------------------*\
  #Buttons
\*------------------------------------*/

/**
 * Button.
 */

.button {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  min-width: 300px;
  font-size: 15px;
  line-height: calc(20/15);
  font-weight: normal;
  letter-spacing: .15em;
  text-indent: .15em;
  padding: 1.3em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--white);
  border: thin solid var(--blue);
  transition: var(--trans);

  &:matches(:focus, :hover) {
    color: var(--white);
    background-color: var(--blue);
  }

  &:active {
    background-color: color(var(--blue) shade(15%) );
  }

  &:disabled,
  &:disabled:hover {
    cursor: default;
    opacity: .2;
    pointer-events: none;
  }
}
