/*------------------------------------*\
  #Responsive
\*------------------------------------*/

/**
 * Responsive.
 */

/* Full h1 only */
.fit {
  display: block;

  &__large {
    display: block;
    font-size: 17.525vw;
    margin-bottom: .2em;
  }
}

/* Full h1 & h2 only */
.fitDouble {
  font-size: 10.05vw;
  
  @media(--sm) {
    font-size: 6.825vw;
  }

  &__small {
    display: block;
  }

  &__large {
    display: block;
    font-size: 2.571428571em;
  }

  &__small + &__large {
    margin-top: .16em;
  }

  &__large + &__small {
    margin-top: .525em;
  }
}