/*------------------------------------*\
  #Responsive
\*------------------------------------*/

/**
 * Responsive.
 */

/* Full h1 only */
.fit {
  display: block;

  &__large {
    display: block;
    font-size: 17.525vw;
    margin-bottom: .2em;
  }
}

/* Full h1 & h2 only */
.fitDouble {
  font-size: 6.825vw;

  &--small {
    font-size: 4.875vw;
  }

  &--split {
    @media(--smMax) {
      font-size: 13.75vw;

      &.fitDouble--small {
        font-size: 6.825vw;
      }
    }
  }

  &__small {
    display: block;
  }

  &__large {
    display: block;
    font-size: 2.571428571em;

    .fitDouble--small & {
      @media(--sm) {
        font-size: 3em;
      }
    }
  }

  &__small + &__large {
    margin-top: .16em;
  }

  &__large + &__small {
    margin-top: .525em;
  }
}

