/*------------------------------------*\
  #Icons
\*------------------------------------*/

/**
 * Logos.
 */

.i-logo {
  width: 1em;
  height: .384615385em;
}

.i-logo-wave {
  width: .24em;
  height: .1em;
}


