/*------------------------------------*\
  #Wrappers
\*------------------------------------*/

.wrapper {
  max-width: var(--bmw);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--bsu-lg);
  padding-left: var(--bsu-lg);

  @media (--sm) {
    padding-right: var(--bsu-xl);
    padding-left: var(--bsu-xl);
  }

  &--noMaxWidth {
    max-width: none;
  }
}
