/* ------------------------------------ *\
  #Grid
\* ------------------------------------ */

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid__item {
  flex: 0 0 auto;
  width: 100%;

  & img {
    width: 100%;
  }
}

/**
 * Modifiers
 */

.grid--rigid {
  margin-left: calc(-1 * var(--gutter));
  justify-content: flex-start;

  & > .grid__item {
    padding-left: var(--gutter);
  }
}

.grid--left {
  justify-content: flex-start;
}

.grid--right {
  justify-content: flex-end;
}

.grid--center {
  align-items: center;
}

.grid--middle {
  justify-content: center;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--reverse {
  flex-direction: row-reverse;
}

/**
 * Widths
 */

.u-1\/2 {
  width: calc(1 / 2 * 100%);
}

@media (--xxs) {

  .u-1\/2\@xxs {
    width: calc(1 / 2 * 100%);
  }

  .u-1\/3\@xxs {
    width: calc(1 / 3 * 100%);
  }

  .u-1\/4\@xxs {
    width: calc(1 / 4 * 100%);
  }

  .u-3\/4\@xxs {
    width: calc(3 / 4 * 100%);
  }

  .u-whole\@xxs {
    width: 100%;
  }
}

@media (--xs) {

  .u-1\/2\@xs {
    width: calc(1 / 2 * 100%);
  }

  .u-1\/3\@xs {
    width: calc(1 / 3 * 100%);
  }

  .u-1\/4\@xs {
    width: calc(1 / 4 * 100%);
  }

  .u-3\/4\@xs {
    width: calc(3 / 4 * 100%);
  }

  .u-whole\@xs {
    width: 100%;
  }
}

@media (--sm) {

  .u-1\/2\@sm {
    width: calc(1 / 2 * 100%);
  }

  .u-1\/3\@sm {
    width: calc(1 / 3 * 100%);
  }

  .u-1\/4\@sm {
    width: calc(1 / 4 * 100%);
  }

  .u-3\/4\@sm {
    width: calc(3 / 4 * 100%);
  }

  .u-whole\@sm {
    width: 100%;
  }
}

@media (--md) {

  .u-1\/2\@md {
    width: calc(1 / 2 * 100%);
  }

  .u-1\/3\@md {
    width: calc(1 / 3 * 100%);
  }

  .u-1\/4\@md {
    width: calc(1 / 4 * 100%);
  }

  .u-3\/4\@md {
    width: calc(3 / 4 * 100%);
  }

  .u-whole\@md {
    width: 100%;
  }
}

@media (--lg) {

  .u-1\/2\@lg {
    width: calc(1 / 2 * 100%);
  }

  .u-1\/3\@lg {
    width: calc(1 / 3 * 100%);
  }

  .u-1\/4\@lg {
    width: calc(1 / 4 * 100%);
  }

  .u-3\/4\@lg {
    width: calc(3 / 4 * 100%);
  }
}

/**
 * Order
 */

@media (--smMax) {

  .u-order1 {
    order: 1;
  }

  .u-order2 {
    order: 2;
  }

  .u-order3 {
    order: 3;
  }

  .u-order4 {
    order: 4;
  }
}
