/* ------------------------------------ *\
  #Page
\* ------------------------------------ */

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
  min-height: 100%;
  font-size: 1em;
  color: var(--main-page-color);
  background: var(--main-page-bg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--main-page-font);
  font-weight: normal;
  background-color: var(--main-page-bg);
}

::selection {
  color: var(--main-page-color-selection);
  background: var(--main-page-bg-selection);
}

.Main,
.Footer {
  transform: translateX(0%) translateZ(0);
  backface-visibility: hidden;
  transition: transform .5s var(--in-out);

  .Header.is-open ~ & {
    transform: translateX(80%) translateZ(0);

    @media(--sm) {
      transform: translateX(50%) translateZ(0);
    }
  }
}
